/*You can add your won color also */
a {
  color: #FB8C00;
}
a:hover {
  color: #da7c05;
}

.section-titile-bg {
  color: #FB8C00;
}

.Material-section-quote blockquote {
  border-left-color: #FB8C00;
}

.btn-common {
  background: #FB8C00;
}
.btn-common:hover, .btn-common:focus {
  background: #da7c05 !important;
}

.btn-round {
  background: #FB8C00 !important;
}
.btn-round:hover {
  background: #da7c05 !important;
}

/* ScrollToTop */
a.back-to-top i {
  background-color: #FB8C00;
}

#main-slide .carousel-control i {
  background: #FB8C00;
}

.okayNav__menu-toggle span {
  background: #FB8C00;
}

li.sub-menu .sub-menu-panel a:hover, li.sub-menu .sub-menu-panel a:focus, li.sub-menu .sub-menu-panel a.active {
  border-left: 3px solid #FB8C00;
}

.okayNav__menu-toggle.icon--active span {
  background: #FB8C00;
}

#nav-main li.active a.nav-link {
  border-bottom: 3px solid #FB8C00 !important;
  color: #FB8C00;
}
#nav-main li.active a.nav-link:hover {
  color: rgba(251, 140, 0, 0.7);
}

.work-counter-widget i {
  color: #FB8C00;
}

.about-widget i {
  color: #FB8C00;
}
.about-widget:hover i {
  background: #FB8C00;
}

.single-blog-post .post-meta a:hover {
  color: #FB8C00;
}

.contact-widget-section .single-contact-widget i {
  color: #FB8C00;
}

#contactForm .form-control {
  color: #FB8C00;
}

.footer-contact-widget ul li a .fa {
  background: #FB8C00;
}

.portfolio-nav ul.nav li a:hover {
  color: #FB8C00;
}
.portfolio-nav ul.nav li a.active {
  border-bottom: 2px solid #FB8C00;
  color: #FB8C00;
}

.single-service-widget i {
  color: #FB8C00;
}

#testimonial-carousel .owl-pagination .owl-page.active span {
  background: #FB8C00;
}

.form-submit button.btn-common.disabled {
  background: rgba(251, 140, 0, 0.7) !important;
  cursor: not-allowed;
}

.owl-carousel .owl-controls .owl-page.active span {
  border: none;
  background: #FB8C00 !important;
  opacity: 1;
}

.Material-tab-default ul.nav.nav-tabs li.active a {
  color: #FB8C00;
  border-bottom: 3px solid #FB8C00;
}

.Material-default-accordion .panel-default .panel-heading a {
  background-color: #FB8C00;
}

.icon-round, .icon-box {
  background: #FB8C00;
}

.icon-common {
  color: #FB8C00;
}

.price span {
  color: #FB8C00;
}

.pricing-button a.btn-pricing {
  background-color: #FB8C00;
}

.Material-error-section h1 {
  color: #FB8C00;
}

.comment-box .form-control, .comment-box textarea {
  font-weight: 500;
  color: #FB8C00;
}

.find-widget {
  padding: 10px 0;
}
.find-widget i {
  background: #FB8C00;
}
